.container {
    max-width: 120rem;
    margin: 8rem auto;  // center container in viewport: 8rem top/bottom and auto left/right
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%;  // no growth/shrink, 18% width sidebar
}

.hotel-view {
    background-color: #fff;
    background-color: orangered;
    flex: 1;
}