.features {
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    // second specification allows subgrids (use parent columns in child grid)
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    // grid-template-rows: auto auto; happens under the hood with the implicit grid.
    grid-gap: 6rem;
    align-items: start;
}

// Closely related to feature, however, another component (reusable component)
.feature {

    display: grid;
    // auto = min-content for the icon
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        // -1 is the end of the explicit grid. If rows are not defined, -1 would not work.
        grid-row: 1 / span 2;
        transform: translateY(-1rem);  // What is the difference between translateY and top: -1 (absolute positioning)
    }
    
    &__text {
        font-size: 1.7rem;
    }
}